<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-sx-6 col-sm-12 col-md-10 col-lg-7 col-xl-6">
        <div class="text-white custom-box">
          <div class="p-5 text-center">
            <div class="d-flex justify-content-center align-items-center">
              <div style="margin-right: 10px;">SIGN-IN</div>
              <label class="switch" for="checkbox">
                <input type="checkbox" id="checkbox" [(ngModel)]="toggle" />
                <div class="slider round"></div>
              </label>
              <div style="margin-left: 10px">SIGN-UP</div>
            </div>
            <div class="mb-md-5 mt-md-4 pb-5 mt-4">
              <app-login *ngIf="!toggle"></app-login>
              <app-signup *ngIf="toggle"></app-signup>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
