<h3 class="mb-2 text-uppercase">DON'T FORGET TO-DO</h3>
<p class="text-white-50 mb-5">Please enter your email and password!</p>
<div class="row d-flex justify-content-center">
  <form class="col-9" [formGroup]="loginForm" (ngSubmit)="login()">
    <div>
      Email
      <div class="mt-2">
        <input type="email" class="custom-input" formControlName="email" />
      </div>
    </div>
    <div class="mt-4">
      Password
      <div class="mt-2">
        <input
          type="password"
          class="custom-input"
          formControlName="password"
        />
      </div>
    </div>
    <p class="small mb-5 pb-lg-2 mt-5">
      <a class="text-white-50" href="#!">Forgot password?</a>
    </p>

    <button class="custom-button" type="submit">Sign In</button>
  </form>
</div>
