<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card text-black border border-primary rounded-5 border-opacity-50 shadow-sm">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
              <h2 class=" mb-2 text-uppercase">DON'T FORGET TO-DO</h2>
              <p class="text-black-50 mb-5">
                Please enter your email and password!
              </p>
              <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div>
                  Email <br />
                  <span class="p-input-icon-left mt-2">
                    <i class="pi pi-user"></i>
                    <input type="email" pInputText formControlName="email" />
                  </span>
                </div>
                <div class="mt-4">
                  Password <br />
                  <span class="p-input-icon-left mt-2">
                    <i class="pi pi-key"></i>
                    <input
                      type="password"
                      pInputText
                      formControlName="password"
                    />
                  </span>
                </div>
                <p class="small mb-5 pb-lg-2 mt-5">
                  <a class="text-black-50" href="#!">Forgot password?</a>
                </p>

                <button pButton class="btn btn-outline-primary btn-lg px-5" type="submit">
                  Login
                </button>
              </form>

            </div>

            <div>
              <p class="mb-0">
                Don't have an account?
                <a href="#!" class="text-primary-50 fw-bold">Sign Up</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
